<% @stories.each do |story| %>
  <ul>
    <li>
      <%= link_to(story.headline, story.url) %> 
    </li>
    <li> 
      <%= story.last_published %> 
    </li>
    <li> 
      <%= story.summary %> 
    </li>
    <li> 
      <%= story.byline %> 
    </li>
  </ul>
<% end %> 
