/* Reset
 ------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body {
  background:#ffffff;
  font-size: 13px;
  color: #666666;
  font-family: 'timelessregular', helvetica, sans-serif;
}

ol, ul {
 list-style: none;
 margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 10px;
  color: #111111;
}

.headline a {
  color: #000;
  font-size: 1.25rem;
  line-height: 1.375rem;
  letter-spacing: .01em;
  word-spacing: -.1em;
  text-decoration: none;
  font-family: 'timelessbold';
  font-style: italic;
}

.byline {
  font-size: 0.625rem;
  line-height: .75rem;
  font-family: georgia, 'times new roman', times, serif;
  color: #999;
  margin: 4px 0 1px;
}

.last-published {
  font-size: 0.625rem;
  line-height: 0.6875rem;
  font-weight: 400;
  font-style: normal;
  margin-left: 0.1em;
  color: #a81817;
  white-space: nowrap;
}

side-summary {
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family: georgia,"times new roman",times,serif;
}

img {
  outline: none;
  border:none;
}

p {
  margin: 0 0 10px;
  line-height: 1.4em;
  font-size: 1.2em;
}

img {
  display: block;
  margin-bottom: 10px;
}

aside {
  font-style: italic;
  font-size: 0.9em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

#wrapper {
          width: 96%;
          max-width: 1335px;
          margin: auto;
          padding: 2%;
          }

#main {
         padding-top: 10px;
         width: 95%;
         margin-right: 5%;
         float: left;
         }

.page-title {
  font-size: 30px;
  font-family: 'timelessbold';
  padding-bottom: 10px;
  text-align: center;
}

.story-info {
}

.story-info img {
  display: inline;
  max-height: 150px;
}

aside {
         width: 32%;
         float: right;
         background: #fae1bd;
         padding: 1%;
         }

footer {
         float: left;
         clear:left;
         margin-top: 15px;
         margin-bottom: 15px;
         width: 100%;
         height:auto;
         border-top: 3px solid #da000e;
         padding-top:1%;
         }
